<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Mail.dll" version="3.0.16230.1254" targetFramework="net40" />
  <package id="Mail.dll" version="3.0.16265.2302" targetFramework="net40" />
  <package id="Mail.dll" version="3.0.16280.1013" targetFramework="net40" />
  <package id="Mail.dll" version="3.0.16292.1158" targetFramework="net40" />
</packages>